.resume-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  width: 100%;
}

.resume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .CV {
    max-width: 70%;
    height: auto;
  }
}

@media (min-width: 600px) {
  .resume-container {
    .CV {
      max-width: 60%;
    }
  }
}

@media (min-width: 1024px) {
    .resume-container {
        .CV {
          max-width: 40%;
        }
      }
}
