.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    h4 {
        padding-bottom: 1rem;
        
    }
    p {
        text-align: start;
    }
    
}
.artstation {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--background-black);
    font-weight: 400;
    letter-spacing: 1px;
    background: var(--main-color);
    a {
        text-decoration: none;
        color: var(--background-gray);
    }
}
.artstation:hover {
    background: var(--background-gray);
    a {
       color: var(--main-color);
    }
   }