* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --font-titles: "Noto Sans", serif;
  --font-main: "Roboto", serif;
  --main-color: #ece7e1;
  --background-black: #232526;
  --background-gray: #414345;
  --orange-color: #dc640e;
}

:root {
  min-height: 100vh;
  color: var(--main-color);
  font-family: var(--font-main);
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--background-gray),
    var(--background-black)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--background-gray),
    var(--background-black)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: var(--font-titles);
}

p,
input,
textarea {
  font-family: var(--font-main);
  letter-spacing: 1px;
}

.main-btn {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--background-black);
  letter-spacing: 1px;
  background: var(--main-color);
  a {
    text-decoration: none;
    color: var(--background-gray);
  }
}
.main-btn:hover {
  background: var(--background-gray);
  a {
    color: var(--main-color);
  }
}

.secondary-btn {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  p {
    text-decoration: none;
    color: var(--main-color);
  }
}
.secondary-btn:hover {
  background: var(--main-color);
  p {
    color: var(--background-black);
  }
}



.next {
  button {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    p {
      color: var(--main-color);
    }
    img {
      width: 25px;
      animation: move-arrow 0.5s infinite alternate;
    }
  }
}

.next:hover {
  p {
    text-decoration: underline;
  }
}

@keyframes move-arrow {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(5px); 
  }
}

.color {
  color: var(--orange-color)
}