* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --font-titles: "Noto Sans", serif;
  --font-main: "Inconsolata", serif;
  --main-color: #ece7e1;
  --background-black: #232526;
  --background-gray: #414345;
}

:root {
  min-height: 100vh;
  color: var(--main-color);
  font-family: var(--font-main);
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--background-gray),
    var(--background-black)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--background-gray),
    var(--background-black)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: var(--font-titles);
}

p,
input,
textarea {
  font-family: var(--font-main);
  letter-spacing: 1px;
}

.btn {
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid var(--background-black);
  font-weight: 400;
  letter-spacing: 1px;
  background: var(--main-color);
  a {
    text-decoration: none;
    color: var(--background-gray);
  }
}
.btn:hover {
  background: var(--background-gray);
  a {
    color: var(--main-color);
  }
}
